.wish-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* Ảnh */
.wish-image {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 18px;
  box-shadow: 0 8px 22px rgba(0,0,0,0.35);

  /* khoảng cách */
  margin-top: 20px;   /* ảnh cách phần trên */
  margin-bottom: 25px; /* ảnh cách text phía dưới */
}

/* Text */
.wish-text {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 30px; /* tạo khoảng cách dưới text trước khi tới nút */
  padding: 0 20px;
}

.page-indicator {
  margin-bottom: 10px;
  opacity: 0.75;
  font-size: 14px;
}

/* nút nằm cách dưới đẹp */
.btn-row {
  margin-top: 10px;
}

.wish-video {
  width: 100%;
  height: 180px;
  border-radius: 18px;
  margin-top: 16px;
  margin-bottom: 22px;
  box-shadow: 0 8px 22px rgba(0, 0, 0, 0.35);
  animation: fadeIn 0.6s ease-in-out;
}

.music-toggle {
  position: fixed;
  top: 18px;
  right: 18px;
  background: rgba(255,255,255,0.2);
  border: none;
  color: white;
  font-size: 22px;
  padding: 10px 14px;
  border-radius: 50%;
  backdrop-filter: blur(10px);
  cursor: pointer;
  transition: 0.2s;
  z-index: 9999;
}

.music-toggle:hover {
  transform: scale(1.12);
  background: rgba(255,255,255,0.35);
}
